/* Letra para H1*/
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

h1 {
    font-family: "Great Vibes", cursive;   
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
/* Fim Letra para H1*/

/* Letra geral */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Playwrite+NO:wght@100..400&display=swap');

 *{
  font-family: "Dancing Script", cursive;}
/* Fim Letra geral */


/* Algumas cores principais usadas no site  */
:root {
  --cor-fundo: linear-gradient(180deg, #f7ccff, #d5a8ff, #c2e9fb);   
  --cor-principal: #d47fff;      
  --cor-secundaria: #ffb6f9;   
  --cor-destaque: #7fffd4;      
  --cor-texto: #4a006e;         
  --cor-brilho: linear-gradient(135deg, #7b61ff 0%, #d68cff 40%, #8fd6ff 100%);
  --cor-galeria:  linear-gradient(135deg, #d797ff, #ff8ed9, #8abaff);
} 
 /* Fim Algumas cores principais usadas no site  */      

 /* backgroud de fundos */
.background-purple{
    background:var(--cor-fundo);
}
.background-galeria{
  background:var(--cor-galeria) ;
}
 /* backgroud de fundos */

/* classes reutilizavéis */
.container{
    max-width: 1440px;
    padding: 0 5%;
    margin: 0 auto;
}

section{
    padding: 2.7rem 0;

}
header {
  background: linear-gradient(90deg, #ff8af0, #d88bff, #8cc6ff);
  padding: 20px 0;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}

/* Botão */
.btn-gradient{
    padding: 10px 25px;
    color: white;
    border: none;
    cursor: pointer;
    background-image: linear-gradient(45deg, var(--cor-principal), var(--cor-secundaria), var(--cor-destaque));
    border-radius: 20px;

}
/* Fim Botão */

/* Classes do site */
/* Pagina inicio */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 ;
}
.logo a{
    font-size: 30px;
    font-weight: bold;
    color:white;
}
.ul{
    display: flex;
    align-items: center;
}
.ul li{
    margin: 0 35px;
    font-size: 15px;
}
.ul li a{
    color: white
}

main .container{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.main-text{
   width: 50%; 
   color:white;
}

.main-text div{
    display: flex;
    align-items: center;
    margin: 20px;
}
.main-img{
    width: 50%;
}
.main-img img{
    width: 100%;
}
.reserva-container {
  display: flex;                /* coloca o botão e a imagem lado a lado */
  align-items: center;          /* centraliza verticalmente */
  gap: 20px;                    /* espaço entre eles */
  margin-top: 20px;             /* espaço acima */
}

.logo-winx {
  width: 150px;                 /* diminui a imagem */
  height: auto;
}
.logo-winx {
  width: 80px;   /* diminui o tamanho da imagem */
  height: auto;   /* mantém as proporções corretas */
}
/* Fim pagina inicio */


/*historia*/
.main-text-2, 
.main-text-3 {
  width: 50%;
  color: white;
  padding: 20px; /* adiciona espaço interno */
  box-sizing: border-box; /* importante para não quebrar a largura */
  margin-top: 100px;  /* aumenta espaço em cima do bloco de texto */
  margin-bottom: 100px; /* aumenta espaço embaixo */
}

.pagina-winx {
  min-height: 100vh;  /* ocupa 100% da altura da tela */
  background-image: url("../img/alfeacc.jpg");  /* ajuste o caminho */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  box-sizing: border-box;  
}

.text-container {
  display: flex;
  gap: 20px; /* espaço entre os blocos */
}

.main-text h1{
  font-size: 4.5rem;  
}

/*responsividade*/
.menu-icon {
    display: none;
    cursor: pointer;
}

.menu-icon img {
    width: 35px;
}
.ul {
    display: flex; 
    flex-direction: row; 
}
@media (max-width: 768px) {
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 70px;
        z-index: 1000;
    }
    .menu-icon {
        display: block;
    }
    .ul {
        display: none !important; 
        position: fixed;
        top: 70px;
        right: 0;
        width: 220px;
        z-index: 999;
        flex-direction: column;
        gap: 18px;
        padding: 20px 25px; 
        border-radius: 20px 0 0 20px;
        box-shadow: -2px 4px 12px rgba(0,0,0,0.2);
        background: linear-gradient(135deg, #7b61ff 0%, #d68cff 40%, #8fd6ff 100%)
    }
    .ul.active {
        display: flex !important;
    }
}
/*Fim responsividade */


/* resultados */
.resultados{
    background: linear-gradient(90deg, #f7b4f8, #cda5ff, #a7b8ff);
}
.resultados .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.resultados .resultados-text{
    color: white;
    font-size: 1.4rem;
    font-weight: 600;
    width: 50%;
}
.resultados .resultados-img{
    display: flex;
    align-items: center;
    justify-content: center; 
}
.resultados .resultados-text-2{
    color: white;
    font-size: 1.6rem;
    font-weight: 600;
    width: 50%;
}
.resultados .resultados-img p {
    font-size: 30px;
      letter-spacing: 8px;
}
/* Resultados */

/* estrutura de poderes */
.diferencias .container {
    display: flex;
    justify-content: space-between;
    margin: 30px auto;
}
.diferencias .card {
    width: 30%;
    cursor: pointer;
    padding: 30px;
    border-radius: 15px;
    color: white;
    background-image: linear-gradient(90deg, #fcb1ff, #d7a9ff, #a8d8ff);}

.diferencias .card:hover {
    
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.diferencias .card img {
    width: 100px;
    height: 80px;
}

.diferencias .card .titulo {
    margin: 13px 0;
    font-weight: 600;
}
/* fim estrutura poderes */

/* cores  pagina poderes  */
.diferencias .card.bloom {
    background: linear-gradient(135deg, #38C6D9, #7FE8F0, #FF8C42);
}

.diferencias .card.stella {
    background: linear-gradient(135deg, #FFE259, #FFA751, #FF7E5F);
}

.diferencias .card.flora {
    background: linear-gradient(135deg, #B6D365 0%, #7EE8A3 50%, #D4A5A5 100%);
}

.diferencias .card.musa {
    background: linear-gradient(135deg, #2196F3 , #3F51B5, #E040FB);
}

.diferencias .card.tecna {
    background: linear-gradient(135deg, #8B59E5, #9370DB, #32CD32);
}

.diferencias .card.aisha{
    background: linear-gradient(135deg, #01579B 0%, #00B8D4 50%, #80D8FF 100%);
}
/* fim cores pagina poderes */

/* organização personagens dos blocos e entre as imagens */
/* reutilizavel */
.fada .container{
  margin-bottom: -90px;
  padding-bottom: 60px;
  display: flex;
  align-items: center;
}
/* Fim organização personagens dos blocos e entre as imagens */

/*pet*/

.fada .fada-img-pet {
  width: 30%;
}
.fada .fada-img-pet img{
  width:75%;
  border-radius: 30px;
  height: 200px;
}
.fada-img-pet {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 40px;
  padding: 20px;
}

.fada-img-pet img {
  width: 200px; /* tamanho reduzido */
  border-radius: 20px;
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}
.fada-img-pet img:hover {
  transform: scale(1.08);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}
/*end pet*/

/* Pagina Personagens */
.fada .fada-text{
  padding: 30px;
  width: 50%;
  border-radius: 15px;
  background: linear-gradient(135deg, #38C6D9, #7FE8F0, #FF8C42);
  color: white;
  min-height: 180px;
}
/*stella*/
.fada .fada-stella-text{
  padding: 30px;
  width: 50%;
  border-radius: 15px;
  background: linear-gradient(135deg, #FFE259, #FFA751, #FF7E5F);
  color: white;
  min-height: 180px;
}
/* end stella*/
/*flora*/
.fada .fada-flora-text{
  padding: 30px;
  width: 50%;
  border-radius: 15px;
  background: linear-gradient(135deg, #B6D365 0%, #7EE8A3 50%, #D4A5A5 100%);
  color: white;
  min-height: 180px;
}
/* end flora*/
/*musa*/
.fada .fada-musa-text{
  padding: 30px;
  width: 50%;
  border-radius: 15px;
  background: linear-gradient(135deg, #2196F3 , #3F51B5, #E040FB);
  color: white;
  min-height: 180px;
}
/* end musa*/
/*tecna*/
.fada .fada-tecna-text{
  padding: 30px;
  width: 50%;
  border-radius: 15px;
  background: linear-gradient(135deg, #8B59E5, #9370DB, #32CD32);
  color: white;
  min-height: 180px;
}
/* end tecna*/
/*aisha*/
.fada .fada-aisha-text{
  padding: 30px;
  width: 50%;
  border-radius: 15px;
  background: linear-gradient(135deg, #01579B 0%, #00B8D4 50%, #80D8FF 100%);
  color: white;
  min-height: 180px;
}
/* end aisha*/
/* Fim pagina Personagens */


/*As trix imagem */
.fada .fada-img{
  width: 20%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 40px;
  padding: 30px;
}

.fada .fada-img{
  width: 20%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 40px;
  padding: 30px;
}
.fada .fada-img img{
  width:100%;
  border-radius: 10px;
}
.fada .fada-img-trix {
  width: 20%;
}
.fada .fada-img-trix img{
  width:75%;
  border-radius: 30px;
}
.fada-img-trix  {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 40px;
  padding: 20px;
}

.fada-img-trix img {
  width: 250px; /* tamanho reduzido */
  border-radius: 20px;
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}
.fada-img-trix img:hover {
  transform: scale(1.08);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}
/* Fim As Trix imagem */

/*As trix texto */
.fada .fada-trix-text{
  padding: 30px;
  width: 60%;
  border-radius: 15px;
  background: linear-gradient(135deg,
    #7a2a6a,   /* Stormy */
    #1c8a9c,   /* Icy */
    #4e224c    /* Darcy */
);
  color: white;
  min-height: 180px;
}

.fada .fada-text-icy{
  padding: 30px;
  width: 60%;
  border-radius: 15px;
   background: linear-gradient(135deg,
    #0A3F52 0%,
    #1EB5D1 50%,
    #E4F7FF 100%);

  color: white;
  min-height: 180px;
}

.fada .fada-text-darcy{
  padding: 30px;
  width: 60%;
  border-radius: 15px;
    background: linear-gradient(135deg,
    #2F1A4A 0%,
    #8B66C7 50%,
    #7A1024 100%);


  color: white;
  min-height: 180px;}

  .fada .fada-text-stormy{
  padding: 30px;
  width: 60%;
  border-radius: 15px;
    background: linear-gradient(135deg,
    #2F1E49 0%,
    #5A3B7A 50%,
    #A3923C 100%);

  color: white;
  min-height: 180px;}
  /* Fim As trix texto */

/*movimento e sombra de blocos de texto*/
/*reutilizavel*/
/*sombra*/
.fada .fada-text,
.fada .fada-stella-text,
.fada .fada-flora-text,
.fada .fada-musa-text,
.fada .fada-tecna-text,
.fada .fada-aisha-text,
.fada .fada-trix-text,
.fada .fada-text-icy,
.fada .fada-text-darcy,
.fada .fada-text-stormy { 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
}
/*sombra*/

/* salto ao passar o mouse */
.fada .fada-text:hover,
.fada .fada-stella-text:hover,
.fada .fada-flora-text:hover,
.fada .fada-musa-text:hover,
.fada .fada-tecna-text:hover,
.fada .fada-aisha-text:hover,
.fada .fada-trix-text:hover,
.fada .fada-text-icy:hover,
.fada .fada-text-darcy:hover,
.fada .fada-text-stormy:hover {
    transform: scale(1.02); 
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.5);
}
/* Fim movimento e degrade de blocos de texto*/


/* Estilo de imagem e sombra */
/*sombra*/
.fada .fada-img img {
    width: 100%;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); 
}
/*efeito ao passar o mouse*/
.fada .fada-img img:hover {
    transform: scale(1.08); 
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5); 
}
/* Estilo de imagem e sombra */

/* Galeria */
.galeria-container-winx {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 50px;      
  padding: 30px;  
}
.galeria-container-winx img {
  width: 230px; 
   height: 230px;  
  border-radius: 20px;
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}
.galeria-container-winx img:hover {
  transform: scale(1.08);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}
/*Fim Galeria */

/* Lista principal da nav  */
.ul {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.ul li {
  position: relative;
}

.ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 10px 15px;
  display: block;
}
/* Fim Lista principal da nav */

/* Submenu da nav principal */
.submenu {
  display: none;
  position: absolute;
  top: 40px;
  left: 0;
  background: linear-gradient(180deg, #f9baff, #c88bff);
  border-radius: 8px;
  list-style: none;
  padding: 5px 0;
  z-index: 100;
}

/* Itens do submenu */
.submenu li a {
  color: white;
  padding: 10px 20px;
  display: block;
  white-space: nowrap;
}

.submenu li a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}

.dropdown:hover .submenu {
  display: block;
}

.menu-ícon img {
  width: 30px;
  cursor: pointer;
  display: none;
}

.ul.ativo {
  display: block;
  flex-direction: column;
  background: linear-gradient(180deg, #d36bff, #8fb8ff);
  width: 100%;
  position: absolute;
  top: 60px;
  left: 0;
  text-align: center;
  padding: 10px 0;
}
/* Fim Lista principal da nav  */



/* container pagina de filmes */
.trailer-card {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    padding: 20px;
    margin-bottom: 50px;
}
/* fim container pagina de filmes */

/* estilo pagina filmes*/
.video-card {
    background-image: linear-gradient(90deg, #fcb1ff, #d7a9ff, #a8d8ff);
    border-radius: 15px;
    padding: 15px;
    width: 300px;
    margin-top: 20px;
    text-align: center;
}
/* fim estilo pagina filmes */

/* Titulo pagina filmes */
.video-card-text {
    margin-top: 10px;
    font-size: 16px;
    color: #fff;
    font-weight: bold;
}

.video-card video {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 15px;
}

.card-text-titulo {
  color:white;
  font-size: 2.3rem;
  margin-top: 80px;
  text-align: center;
}

.card-text-titulo-1 {
  color: white;
  text-align: center;
  margin-bottom: 10px;
}
/* Fim de pagina de filmes */

/*musica*/
#btnMusica {
    position: fixed;              
    bottom: 80px;                 
    left: 10px;                      
    background: linear-gradient(90deg, #fcb1ff, #d7a9ff, #a8d8ff);
    color: #333;
    border: 1px solid #ccc;
    padding: 5px;
    cursor: pointer;
    border-radius: 200px;
    font-size: 30px;

}
/* Fim musica */